
/* about style */
.about-img{
    & img{
        max-width: inherit;
        margin-left: -40px;
    }
}
.funabout{

    &__text{
        & h2{
            font-size: 50px;
            margin-bottom: 25px;
        }
    }
    &__link{
        & a{
        margin-right: 30px;
        font-size: 16px;
        font-weight: 700;
            &:hover{
                color: $theme-color;
            }
        }
    }
}
