/*----------  slider style  ----------*/
.single-slider {
    min-height: 1020px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.funslider {
    & span {
        color: $theme-color;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        display: block;

        & i {
            margin-right: 10px;
        }
    }

    & h2 {
        font-size: 75px;
    }
}

.slider-img {
    & img {
        max-width: inherit;
    }
}